h1 {
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.movie-feed{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}